ion-label{
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.abs_div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.active{
    font-weight: bold;
}