<div class="main_content_div">
  <div class="abs_div">

    <ion-label [class.active]="activeText == 'All'" (click)="select('All')">All</ion-label>
    <ion-label [class.active]="activeText == 'TV Shows'" (click)="select('TV Shows')">TV Shows</ion-label>
    <ion-label [class.active]="activeText == 'Movies'" (click)="select('Movies')">Movies</ion-label>
    <ion-label [class.active]="activeText == 'My List'" (click)="select('My List')">My List</ion-label>
  </div>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>