<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Subscribe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="back_image" [style.backgroundImage]="'url(assets/imgs/home_back.jpg)'">
  <div class="Subscribe_content">
    <p>
      Subscribe to mySurf.tv 
    </p>
    <p style="margin-top: 40px;">
      Subscribe
      <ion-icon name="checkbox"></ion-icon>
    </p>
    <p> 
      Confirm your Email Address
      <ion-icon name="checkbox"></ion-icon>
    </p>
    <p>
      Get the latest surf videos
      <ion-icon name="checkbox"></ion-icon>
    </p>
    <ion-button color="medium">Subscirbe</ion-button>
  </div>
</div>
</ion-content>

