<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class= "FUNCTS">
      <iframe src="https://players.brightcove.net/1752604059001/VJCJXL3Ye_default/index.html?videoId=4093643993001" 
      allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" 
      style="width: 240; height: 250;"></iframe>
      <ion-label class="Name">Video Name</ion-label>
      <ion-label class="Introduction">
        Introduction of this video
      </ion-label>
      {{VideoID}}
    </div>
  </ion-card>
  <ion-row>
    
    <ion-col size="6">
      <a href="https://www.facebook.com/surfingaustraliainc/">
        <img src= "../../assets/imgs/facebook.jpg" style = "width:50px;height:50px;">
        Facebook
      </a>
    </ion-col>
    <ion-col size="6">
      <a href="https://www.instagram.com/accounts/login/?next=/surfingaus/">
        <img src= "../../assets/imgs/instagram.jpg" style="width:50px;height:50px;">
        instagram
      </a>
    </ion-col>
  </ion-row>
</ion-content>
