<!-- <ion-header>
  <ion-toolbar>
    <ion-title>download-modal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="main_content_div">
    <div class="red_div">
      <ion-label>NEW</ion-label>
    </div>

    <ion-label class="head_lbl">Download & Go</ion-label>

    <div class="gray_div">
      <ion-icon name="arrow-down-sharp"></ion-icon>
    </div>

    <ion-label class="content_lbl">
      Look for this symbol to download movies and TV episodes to watch on the go without using data.
    </ion-label>

    <div class="line"></div>

    <ion-button (click)="onClick()" expand="block" fill="clear">
      <ion-icon slot="end" name="chevron-forward-sharp"></ion-icon>
      Find Something to Download
    </ion-button>

    <div class="line"></div>

    <ion-button (click)="onClick()" expand="block" fill="clear">
      OK
    </ion-button>
  </div>
</ion-content>
