<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="FilterJSONData($event)">
  </ion-searchbar>
  <div class="ion-padding">
    <ion-list>
      <ion-item (click)="selectval(item.name)" *ngFor="let item of jsonData">
        {{item.name}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>