<ion-header class="header">
  <ion-toolbar>

      <ion-title color="white">Homepage</ion-title>
      <ion-buttons slot="end">
      <img src="../../assets/imgs/brand.png" style="width:40px;height:40px;float:right;display:block">
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">

    <div class="main_btn_div">

    </div>

    <div *ngIf="btnText != 'My List'" class="back_image" [style.backgroundImage]="'url(assets/imgs/home_back.jpg)'">


      <div class="flex_div">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <div class="col_div">
                <ion-button (click)="details()">
                  <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
                  Play
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="col_div">
                <ion-button (click)="onSave()">
                  <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
                  Save
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="bottom_div" *ngIf="btnText != 'My List'">

      <div class="list_div">
        <ion-label class="head_lbl">Recently</ion-label>
          <div>
            <ion-slides [options]="slideOpts">
              <ion-slide *ngFor="let item of slider" (click)="details()">
                <div class="slide_back bg_image" [style.border]="getColor(item.color)"
                  [style.backgroundImage]="'url( '+ item.img +' )'"></div>
                <img src="{{item.text}}" class="text_img">
              </ion-slide>
            </ion-slides>
          </div>
      </div>

      <div class="list_div">
        <ion-label class="head_lbl">Popular</ion-label>
        <div>
          <ion-slides [options]="slideOpts">
            <ion-slide class="slide_class" *ngFor="let item of shows" (click)="details()">
              <div class="slide_image2 bg_image" [style.backgroundImage]="'url( '+ item.img +' )'"></div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>

      <div class="list_div">
        <ion-label class="head_lbl">TV Shows</ion-label>
        <div>
          <ion-slides [options]="slideOpts">
            <ion-slide class="slide_class" *ngFor="let item of shows" (click)="details()">
              <div class="slide_image bg_image" [style.backgroundImage]="'url( '+ item.img +' )'"></div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>

    </div>


    <div style="padding-top: 8vh" *ngIf="btnText == 'My List'">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" *ngFor="let item of (shows | slice : 0 :8)">
            <div class="back_image2 bg_image" [style.backgroundImage]="'url( '+ item.img +' )'"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>