.back_image{
    height: 70vh;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.back_image2{
    height: 140px;
    width: 100%;
}

.main_content_div{
    .menu_div{
        position: absolute;
        width: 100%;
        top: -1px;
        ion-label{
            color:white;
        }
        img{
            flex-direction: column;
        }
        
    }

    .flex_div{
        position: absolute;
        width: 100%;
        bottom: -10px;
        ion-col{
            text-align: center;
        }
        .col_div{
            display: flex;
            flex-direction: column;
            align-items: center;

            ion-icon{
                font-size: 35px;
            }

            ion-button{
                --border-radius: 5px;
                --background: white;
                color: black;
                font-weight: 600;

                ion-icon{
                    font-size: 30px;
                }
            }

            ion-label {
                font-size: 11px;
            }
        }
    }

    .bottom_div{
        // padding: 0px 16px;
        padding-bottom: 16px;

        ion-label {
            display: block;
        }
        

        .list_div{
            
            padding-left: 16px;
            padding-right: 16px;

            ion-slide{
                display: flex;
                flex-direction: column;

                .text_img{
                    width: 70%;
                    margin-top: -25px;
                    height: 40px;
                }
                
            }
            .head_lbl {
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 16px;
                font-size: 16px;
            }

            .slide_back{
                height: 120px;
                width: 120px;
                border-radius: 100%;
            }

            .slide_class{
                margin-right: 7px;
            }

            .slide_image{
                height: 140px;
                width: 100%;
                // border-radius: 5px;
                position: relative;
                .logo{
                    width: 20px;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }

            }


            .slide_image2{
                height:220px;
                width: 100%;
                // border-radius: 5px;
                position: relative;
            }
        }
    }
}