<ion-header class="header">
  <ion-toolbar>

      <ion-title color="white">Homepage</ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">

    
    <div class="back_image" [style.backgroundImage]="'url(assets/imgs/home_back.jpg)'">
      <div class="menu_div">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img src="assets/imgs/brand.png">
            </ion-col>
            <ion-col size="3">
                <ion-label (click)="searchurl()">Search</ion-label>
            </ion-col>
            <ion-col size="2">
                <ion-label (click)="liveurl()">Live</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label (click)="downloadurl()">Subscribe</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="flex_div">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <div class="col_div">
                <ion-button (click)="details()">
                  <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
                  Play
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="col_div">
                <ion-button (click)="onSave()">
                  <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
                  save
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="bottom_div" *ngIf="btnText != 'My List'">

      <div class="list_div">
        <ion-label class="head_lbl">Recently</ion-label>
          <div>
            <form>
              <ion-slides [options]="slideOpts">
                <ion-slide *ngFor="let item of slider" (click)="details(link)">
                    <div class="slide_back bg_image"
                      [style.backgroundImage]="'url( '+ item.img +' )'"></div>
                    <img src="{{item.text}}" class="text_img">
                    <ion-input value="{{item.link}}" #link ></ion-input>
                    {{link}}
                  </ion-slide> 
              </ion-slides>
          </form>
          </div>
      </div>

      <div class="list_div">
        <ion-label class="head_lbl">Popular</ion-label>
        <div>
          <ion-slides [options]="slideOpts">
            <ion-slide class="slide_class" *ngFor="let item of shows" (click)="details()">
              <div class="slide_image2 bg_image" [style.backgroundImage]="'url( '+ item.img +' )'"></div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>

      <div class="list_div">
        <ion-label class="head_lbl">TV Shows</ion-label>
        <div>
          <ion-slides [options]="slideOpts">
            <ion-slide class="slide_class" *ngFor="let item of shows" (click)="details()">
              <div class="slide_image bg_image" [style.backgroundImage]="'url( '+ item.img +' )'"></div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>

    </div>
  </div>
</ion-content>