<div class="main_content_div">
  <div class="abs_div">
    <ion-label class="head_lbl">All Genres</ion-label>
    <ion-label *ngFor="let item of allGenres" (click)="close()">{{item}}</ion-label>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</div>