.head_lbl{
    font-weight: bold;
    font-size: 22px;
}

ion-label{
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.abs_div{
    padding-top: 40px;
    height: 90vh;
    overflow: scroll;
}